body{
	
}
#cabecera{
	margin: 0px;
	border: 5px solid #000000;
	padding: 10px;
	text-align: center;

	background-color: #14BD33;
}

.parrafo1{
	font-size: 25px;
}

#menu{
	padding: 0;
}

#menu li{
	padding: 30px;
	float: left;
	text-decoration: none;
	font-size: 20px;
}